Q1) What is a database? Differentiate between SQL and NoSQL database.

ANS:--> A database is an organized collection of data, stored and accessed electronically. Databases are used to store and manage large amounts of structured and unstructured data and usually controlled by a database management system (DBMS).

SQL database:-->  These databases store data in the form of tables, with rows representing records and columns representing fields. Relationships between data can be established using keys. 

NoSQL databse:-->  These databases are designed to support the storage and management of large amounts of unstructured data. They do not use the traditional table-based structure of relational databases, and they often support horizontal scaling, which allows them to handle very large amounts of data and high levels of concurrency.

Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS:--> Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.

In [ ]:
#.....Example.....

# Creating the table for storing students info.
CREATE TABLE students_info (
    Collage_name varchar(20),
    Student_id number (5),
    Branch varchar (10)
);

# Adding a new column for CGPA using ALTER command
ALTER TABLE students_info
ADD CGPA ;

# Removing all the row from table but structure of table stil exixts using truncate commands
TRUNCATE TABLE students_info;

#Removing exixts table along with its structure from the Database
DROP TABLE students_info;

Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS:--> Data Manipulation Language (DML) commands in SQL manage data records stored within the database tables. It does not deal with changes to database objects and their structure.

In [ ]:
#....Example....
# inserting the data into table using INSERT commmand
INSERT INTO students_info(Collage_name , student_id , Branch , CGPA)
VALUES('abc' , 7899 , 'CSE' , 8.9)

# modify the value of an existing column in a database table
UPDATE students_info
SET CGPA = '8.9'
WHERE CGPA = '9.5' ;

# remove one or more rows from the database table
DELETE FROM students_info
WHERE Branch = 'CSE'
AND CGPA = '8.9';

Q4) What is DQL? Explain SELECT with an example.

ANS:--> DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

In [ ]:
#.....Example.....
CREATE TABLE Customer(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    LastName VARCHAR(50),
    Country VARCHAR(50),
    Age int(2),
  Phone int(10)
);
#Insert some sample data into the Customers table
INSERT INTO Customer (CustomerID, CustomerName, LastName, Country, Age, Phone)
VALUES (1, 'Shubham', 'Thakur', 'India','23','xxxxxxxxxx'),
       (2, 'Aman ', 'Chopra', 'Australia','21','xxxxxxxxxx'),
       (3, 'Naveen', 'Tulasi', 'Sri lanka','24','xxxxxxxxxx'),
       (4, 'Aditya', 'Arpan', 'Austria','21','xxxxxxxxxx'),
       (5, 'Nishant. Salchichas S.A.', 'Jain', 'Spain','22','xxxxxxxxxx');
        
#fetch the entire table or all the fields in the table customer
SELECT * FROM Customer;

Q5) Explain Primary Key and Foreign Key.

ANS:--> Primary Key-->(1) A primary key is used to ensure data in the specific column is unique.
                      (2) It uniquely identifies a record in the relational database table.
                      (3) Only one primary key is allowed in a table.It is a combination of UNIQUE and Not Null constraints.
                      (4) Its value cannot be deleted from the parent table.
                      (5) It does not allow NULL values.

Foreign Key-->(1) A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
              (2) It refers to the field in a table which is the primary key of another table.
              (3) more than one foreign key is allowed in a table.It can contain duplicate values and a table in a relational database.
              (4) Its value can be deleted from the child table.
              (5) 	It can also contain NULL values.

Q6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# CREATING DATABASE....
import mysql.connector
# establishing the connection
mydb = mysql.connector.connect(
    host = "localhost",
    User = "user",
    password = "password"
)
print(mydb)
# Creating a cursor object using the mycursor() 
mycursor = mydb.cursor()
# MySQL query as a parameter and executes the given query using excute()
mycursor.excute("CREATE DATABASE if not exists test")
mydb.close()

Q6) Give the order of execution of SQL clauses in an SQL query.

ANS:--> The order of execution of SQL clauses in an SQL query are:-
        1)FROM [my]
        2)WHERE
        3)GROUP BY 
        4)HAVING
        5)SELECT
        6)ORDER BY
        7)LIMIT